@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="navbar-nav navbar-right">
    <li>
        <a href="@Url.Action("Index", "Manage")" class="elements">
            <img src="~/Content/themes/base/images/user.png" width="40" height="40" />
        </a>


        <!--- @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })-->
    </li>
    <li>
        <img src="~/Content/themes/base/images/line.png" width="40" height="40" />
    </li>

    <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
<ul class="navbar-nav navbar-right">
    <li>
        <a href="@Url.Action("Register", "Account")" class="elements">
            <img src="~/Content/themes/base/images/user-account.png" width="40" height="40" /> 
        </a>
    </li>
    <li>
        <img src="~/Content/themes/base/images/line.png" width="40" height="40" />

    </li>
    <!----<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>-->
  <li> @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="nav-link" })</li>
</ul>
}
