@model ChurchSystem.Models.ChurchVenueBooking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/dLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChurchVenueBooking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChurchVenue.VenueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChurchVenue.VenueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/dLayout.cshtml";

}

<script>
    @section scripts{


    }
</script>