@model ChurchSystem.Models.BookLoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/dLayout.cshtml";
}

<center>
    Details
    <hr style="width:50%" />
</center>

<div class="row">

    <div class="col">
        <center>
            <div class=" card">
                <div class="card-header">Cover</div>
                <div class="card-body">
                    <img src="data:image/png;base64,@(Model.Books.imageurl)" width="500" height="500" alt="Student Image">
                </div>
            </div>
        </center>
    </div>

    <div class="col">
        <center>
            <div class=" card">
                <div class="card-header">Details</div>
                <div class="card-body">
                    <b>To:</b>@Model.username<br/>
                    <b>Book Title:</b>  @Model.Books.Title<br />
                    <b>Genre:</b>  @Model.Books.Genre<br />
                    <b>Author:</b>  @Model.Books.Author<br />
                    <b>Date Published:</b>  @Model.Books.published.ToString("dd MMMM yyyy")<br />
                    <hr style="width:50%" />

                  <p class="text-success">@Model.status</p>
                    <hr style="width:50%" />
                </div>
            </div>
            <br />
            <br />
            <div class="card">
                <div class="card-header">Handover Signature</div>
                <div class="card-body">
                    @if (Model.signreturnImageUrl != null)
                    {
                        <img src="data:image/png;base64,@(Model.signreturnImageUrl)" width="100" height="100" alt="Student Image">
                    }
                    else if(Model.signoutImageUrl != null)
                    {
                       <img src="data:image/png;base64,@(Model.signoutImageUrl)" width="100" height="100" alt="Student Image">
                    }
    else {          <p>No Signature</p>    }

                </div>
                <br />
            </div>
            <br />
            <div class="card">
                <div class="card-header">Loan Details</div>
                <div class="card-body">
                    <b>Return Date: </b>@Model.expectedReturn.ToString("dd MMMM yyyy")<br />
                    <b>Late Fine: </b>R @Model.Bookfine,00
                </div>
            </div>
           
        </center>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
@section scripts{
    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    <!-- Toastr JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        // Define the showSuccessMessage function
        function showSuccessMessage(message) {
            toastr.success(message);
        }

        // Handle the Toastr notification.
        $(document).ready(function () {
            // Check if a success message exists in the query string (added after redirection).
            var urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has("successMessage")) {
                var successMessage = urlParams.get("successMessage");
                showSuccessMessage(successMessage);
            }
        });
    </script>
}

