@model ChurchSystem.Models.EventDecorLayOuts

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/dLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "EventDecorLayOuts", FormMethod.Post, new { enctype = "multipart/form-data", @class = "vehicle-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>EventDecorLayOuts</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.layoutName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.layoutName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.layoutName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <input type="file" name="ImageFile" id="ImageFile" />
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/dLayout.cshtml";

}

<script>
    @section scripts{


    }
</script>