@model IEnumerable<ChurchSystem.Models.EventDecorLayOuts>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/dLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<!-------
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.layoutName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.layoutImageUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.layoutName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.layoutImageUrl)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Layoutid }) |
                @Html.ActionLink("Details", "Details", new { id = item.Layoutid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Layoutid })
            </td>
        </tr>
    }

</table>
    -->
<center>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">

                    <img src="data:image/png;base64,@(item.layoutImageUrl)" alt="Church Leader Image" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@item.layoutName</h5>
                        <p class="card-text">


                        </p>
                    </div>

                </div>
            </div>
        }
    </div>
</center>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/dLayout.cshtml";

}

<script>
    @section scripts{


    }
</script>