@model IEnumerable<ChurchSystem.Models.OnlineSermons>

@{
    ViewBag.Title = "UserIndex";
    Layout = "~/Views/Shared/dLayout.cshtml";
}

<style>
    .card {
        height: 100%;
        margin-bottom: 15px; /* Add margin to create space between cards */
    }

    .card-img-top {
        height: 300px;
        object-fit: cover;
    }

    .add-card {
        border: 2px dashed #ccc; /* Example styling for the "Add Vehicle" card */
        text-align: center;
        padding: 20px;
    }

    .background-image {
        margin: 0;
        padding: 0;
        background-image: url('@ViewBag.BackgroundImageUrl');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
    }
</style>


<br />
<center>
    <h2>Uploads</h2>
    <hr/>
</center>
<br />

<!-----<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SermonTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SermonDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SermonTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SermonDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SermonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SermonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SermonId })
        </td>
    </tr>
}

</table>--->



<div class="row">
    @foreach (var sermon in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">@sermon.SermonTitle</h5>
                </div>
                <div class="card-body">
                    @if (sermon.FileType == "Audio")
                    {
                            <a href="@Url.Action("AudioStream", new { id = sermon.SermonId })">
                            <img src="~/Content/img/audio.svg" class="card-img-top" alt="Audio Image">
                            </a>
                            }
                            else if (sermon.FileType == "Video")
                            {
                            <a href="@Url.Action("VideoStream", new { id = sermon.SermonId })">
                            <img src="~/Content/img/vido.svg" class="card-img-top" alt="Video Image">
                                </a>
                            }
                            else
                            {
                            <a href="@Url.Action("SermonNotes", new {id = sermon.SermonId})">
                            <img src="~/Content/img/notes.svg" class="card-img-top" alt="Default Image">
                            </a>
                            }
                    </div>
                <div class="card-footer">
                    <p class="card-text">Description: @sermon.SermonDescription</p>
                </div>
            </div>
        </div>
    }
</div>

<br />
<br /><br /><br /><br />

@section scripts{
    
    
    
}