
@{
    ViewBag.Title = "Church";
    Layout = "~/Views/Shared/ChurchLayout.cshtml";
}

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/Content/themes/base/images/avataaars.svg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Administrator</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-cross"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0"><h4>Grace of God: Where Faith Finds Favor</h4></p>
    </div>
</header>



<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Menu</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-cross"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="@Url.Action("Index", "ItemDonations")">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h4>View Items Donated</h4></div>
                        </div>
                        <img class="img-fluid" src="~/Content/themes/base/images/charity-svgrepo-com (1).svg" alt="..." />
                    </div>
                </a>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="@Url.Action("Index", "Donations")">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h4>View Donated Funds</h4></div>
                        </div>
                        <img class="img-fluid" src="~/Content/themes/base/images/charity-svgrepo-com (3).svg" alt="..." />
                    </div>
                </a>
            </div>

            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <a href="@Url.Action("Create","Events")">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h4>Schedule Event</h4></div>
                        </div>
                        <img class="img-fluid" src="~/Content/themes/base/images/add-event-calendar-svgrepo-com.svg" alt="..." />
                    </div>
                </a>
            </div>


            <div class="col-md-6 col-lg-4 mb-5">
                <a href="@Url.Action("G", "ItemDonations")">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h4>View Members</h4></div>
                        </div>
                        <img class="img-fluid" src="~/Content/themes/base/images/users-group-svgrepo-com (1).svg" alt="..." />
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-5">
                <a href="@Url.Action("Index", "Bookings")">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h4>View Scheduled Bookings</h4></div>
                        </div>
                        <img class="img-fluid" src="~/Content/themes/base/images/clipboard-list-svgrepo-com.svg" alt="..." />
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-5">
                <a href="@Url.Action("Create", "Products")">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h4>Add Product</h4></div>
                        </div>
                        <img class="img-fluid" src="~/Content/themes/base/images/add-to-svgrepo-com.svg" alt="..." />
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-5">
                <a href="@Url.Action("AdminIndex", "Order")">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h4>Manage Orders</h4></div>
                        </div>
                        <img class="img-fluid" src="~/Content/themes/base/images/delivery-truck-deliver-svgrepo-com.svg" alt="..." />
                    </div>
                </a>
            </div>


        </div>

</section>








<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">map</h4>

                <a href="@Url.Action("Map", "Events")">
                    <img alt="Map Logo" src="~/Content/themes/base/images/maps-svgrepo-com.svg" height="100" width="100">
                </a>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Grace of God church</h4>
                <p class="lead mb-0">
                    Freelance is a free to use, MIT licensed Bootstrap theme created by
                    <a href="http://startbootstrap.com">Start Bootstrap</a>

                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; graceofgodchurch</small></div>
</div>

        </div>
    </div>
</section>



@section scripts{

    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    <!-- Toastr JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        // Define the showSuccessMessage function
        function showSuccessMessage(message) {
            toastr.success(message);
        }

        // Handle the Toastr notification.
        $(document).ready(function () {
            // Check if a success message exists in the query string (added after redirection).
            var urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has("successMessage")) {
                var successMessage = urlParams.get("successMessage");
                showSuccessMessage(successMessage);
            }
        });
    </script>
}