@model IEnumerable<ChurchSystem.Models.classAttendance>

@{
    ViewBag.Title = "attendance";
    Layout = "~/Views/Shared/dLayout.cshtml";
}

<h2>Session Attendance</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.classId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attendeeImagedata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.classId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attendeeImagedata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.attendeeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.attendeeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.attendeeId })
        </td>
    </tr>
}

</table>


@section  scripts{
    
    }