@model ChurchSystem.Models.VenueBookingEvent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/dLayout.cshtml";
}

<center>
    <h2>Invoice</h2>
</center>
<br />
<br />
<br />
<!-----
<div>
    <h4>Venue Booking Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChurchVenue.VenueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChurchVenue.VenueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChurchVenueBooking.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChurchVenueBooking.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moreSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moreSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCleanup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCleanup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.equipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.layoutid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.layoutid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddOns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddOns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

    </dl>
</div>
    ---->


<div class="row">
   
        <div class="col-md-6">
            <center>
                <h4>Venue Details</h4>
                <hr style="width:50%" />

                <div class="card">
                    <!-- 3D Panorama -->
                    <center>
                        <div id="panorama" style="height: 400px; width:550px;"></div>
                    </center>
                    <!-- Card Body -->
                    <div class="card-body">
                        <h4>@ViewBag.VN</h4>
                        <p class="card-text">
                            <strong>Description:</strong> @ViewBag.Description <br />
                        </p>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                <h4>Event Details</h4>
                <hr style="width:50%" />

                <b>Event Type:</b> @ViewBag.ET
                <br />
                <b>Event Description:</b> @Model.EventDescription
                <br />
                <b>Estimated Attendees:</b> @Model.Attendees
                <br />
                <b>Start Time:</b> @Model.startTime
                <br />
                <b>End Time:</b> @Model.endTime
                <br /><br /><br />

                <h5>Costs</h5>
                <hr style="width:50%">

                <b>Booking: </b> R 350<br />
                <b>Add-Ons: </b> R @Model.AddOns
                <hr style="width:50%">
                <b>Total: R @Model.TotalCost</b>
                <hr style="width:50%">
                <form action="https://www.payfast.co.za/eng/process" method="POST">
                    <input type="hidden" name="merchant_id" value="24377765">
                    <input type="hidden" name="merchant_key" value="gsefp06ta504u">
                    <input type="hidden" name="return_url" value="https://localhost:44386/Home/Index">
                    <input type="hidden" name="cancel_url" value="https://localhost:44386/Home/About">
                    <input type="hidden" name="notify_url" value="https://localhost:44386/Home/Contact">

                    <input type="hidden" name="name_first" value="FirstName">
                    <input type="hidden" name="name_last" value="LastName">
                    <input type="hidden" name="email_address" value="@User.Identity.Name">
                    <input type="hidden" name="cell_number" value="0634032279">

                    <input type="hidden" name="amount" value="@Model.TotalCost">
                    <input type="hidden" name="item_name" value="Ice">
                    <input type="hidden" name="item_description" value="Bear">

                    <input type="hidden" name="email_confirmation" value="1">
                    <input type="hidden" name="confirmation_address" value="22112343@dut4life.ac.za">

                    
                    
                    <a href="@Url.Action("sendInvites", "VenueBookingEvents")"  class="btn btn-outline-success"> Send Invites</a>

                </form>
            </center>
        </div>
</div>






<br/>
<br/>
<br/>
<br/>
<br/>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/dLayout.cshtml";

}


    @section scripts{
        <script>
                 // Ensure the DOM is fully loaded before initializing Pannellum
                 window.onload = function () {
                     pannellum.viewer('panorama', {
                         "type": "equirectangular",
                         "autoLoad": true,
                         "autoRotate": -2,
                         "panorama": "@ViewBag.Imageurl"
                     });
                 };
         </script>

    }
